.icon-circle {
  background-color: white;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/* Animation */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
