.skills-section {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 140px;
  padding: 10px 20px;
}


.circle-container {
  text-align: center;
  color: #fff;
  margin-bottom: -3rem;
}

.circle-container p {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* SVG Circle Styles */
circle.bg {
  stroke: #222;
}

circle.progress {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;
}
